div {
  margin: 20px;
  border: 1px;
  border-style: solid;
  padding: 15px;
  border-color: red;
}

section{
  display:inline-flex;
}

h1{
  text-align: center;
  color: green;
  text-decoration: underline 1px blue;
}

.article1{
  display:inline-flex;
  height:100px;
  width:auto;
  text-align: center;
}

.article2{
  display:inline-flex;
  height:100px;
  width:auto;
  text-align: center;
}

.article3{
  display:inline-flex;
  height:100px;
  width:auto;
  text-align: center;
}

.article4{
  display:inline-flex;
  height:100px;
  width:auto;
  text-align: center;
}