@use "function toRem.scss" as f;
@use "variables.scss" as c;

div {
  margin: f.toRem(20);
  border: f.toRem(1);
  border-style: solid;
  padding: f.toRem(15);
  border-color: c.$color-two;
}

section{
  padding: f.toRem(10);
  display:inline-flex;
}

h1{
  text-align: center;
  color: c.$color-three;
  text-decoration: underline f.toRem(1) c.$color-one;
}

@mixin article($color, $border-color, $size){
  border: f.toRem(2) solid $border-color;
  font-size: $size;
  padding: f.toRem(10);
  display:inline-flex;
  height:auto;
  width:auto;
  text-align: center;
  color: $color;
}

.article1{
  @include article(c.$color-one, c.$color-three, 16px);
  
}

.article2{
  @include article(c.$color-two, c.$color-three, 16px);
  ;
}

.article3{
  @include article(c.$color-one, c.$color-three, 16px);
  
}

.article4{
  @include article(c.$color-two, c.$color-three, 16px);
  
}

.article5{
  @include article(green,blue, 24px);
  padding: f.toRem(20) f.toRem(50);
}




